:root {
  --color-fondo: #242424;
  --color-azul: #0064FB;
  --color-rojo: #FF3232;
  --color-rojo-claro: #FFE5E5;
  --color-blanco: #fff;
  --color-lanzable: #60a0ff;
}

html {
  box-sizing: border-box;
  background: var(--color-fondo);
  font-size: 62.25%;
  font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-blanco);
}

header {
  text-align: center;
  margin-top: 4rem;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.4rem;
  justify-content: center;
  text-align: center;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 0;
  display: flex;
  justify-items: center;
}

input {
  width: 33rem;
  height: 5rem;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

button {
  font-size: 2.4rem;
  width: 33rem;
  height: 5rem;
  background-color: var(--color-fondo);
  border-radius: 1rem;
  border: var(--color-blanco) solid .4rem;
  color: var(--color-blanco);
  transition: .2s ease-in-out;
  margin: 2rem 0;
}

button:hover, .boton--seleccionado {
  background-color: var(--color-azul);
  border-color: var(--color-azul);
}

.botonizq {
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
  width: 17.5rem;
  display: inline-block;
}

.botoncentro {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  width: 17.5rem;
  display: inline-block;
}

.botondch {
  border-left: 0;
  border-radius: 0 1rem 1rem 0;
  width: 17.5rem;
  display: inline-block;
}

#btnJugar {
  width: initial;
  padding: 0 4rem;
}

span {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: var(--color-rojo) solid .3rem;
  border-radius: 1rem;
  background-color: var(--color-rojo-claro);
  color: var(--color-rojo);
  font-size: 2.4rem;
  width: 40rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  display: none;
}

.visible {
  display: flex;
}


/* TABLERO DE JUEGO */

#areaJuego {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 70%; */
  margin: 5rem 0;
}

#areaFichasX, #areaFichasO {
  width: 100%;
  display: flex;
  align-items: end;
}

#areaFichasO {
  justify-content:right;
}

.ficha {
  border: .4rem solid #aaa;
  border-radius: .8rem;
  box-shadow: .4rem .4rem #aaa;
  width: 10rem;
  height: 10rem;
  background-color: rgba(24, 24, 24, .5);
  align-items: center;
  justify-content: center;
  display: flex;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  background-color: var(--color-blanco);
  justify-content: space-around;
  justify-items: center;
}

.casilla {
  display: flex;
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fondo);
}

.lanzable {
  background-color: var(--color-lanzable);
  animation: resplandor 1s ease infinite;
  transition: all 1s ease-in-out;
}
  
/* En lugar de usar alternate he puesto un punto intermedio que hace de tope, ya que no me gustaba el timing de alternate */
  
@keyframes resplandor {
  from {
    background-color: var(--color-fondo);
  }
  50% {
    background-color: var(--color-lanzable);
}
  to {
    background-color: var(--color-fondo);
  }
}

.circulo {
  /*
    Un poco frikada... Para que la cruz y el círculo sean igual de altos y anchos
    he calculado las dimensiones del círculo basándome en la longitud del aspa de
    la cruz, que al proyectarse sobre la verticual (hipotenusa), sería más corta.
    En resumen, tirando de fórmula, se calcula mediante el coseno del ángulo (45º)
    por la hipotenusa (longitud del aspa).

    https://www.disfrutalasmatematicas.com/seno-coseno-tangente.html
  */
  width: calc(7.5rem * cos(45deg)); 
  height: calc(7.5rem * cos(45deg));
  border: .8rem solid var(--color-blanco);
  border-radius: 100%;
}

.cruz {
  width: 7.5rem;
  height: 0;
  position: absolute;
  border: .4rem solid var(--color-blanco);
  background: var(--color-blanco); /* Sin el background se ve una rayita en Firefox */
  rotate: 45deg;
  border-radius: .4rem;
}

.cruz:after {
  content: "";
  position: absolute;
  width: 7.5rem;
  height: 0;
  border: .4rem solid var(--color-blanco);
  background: var(--color-blanco);
  border-radius: .4rem;
  rotate: 90deg;
  translate: -4.125rem -0.38rem;
}

/* Javascript no puede seleccionar seudoelementos, por lo que tengo que duplicar
las clases con otro nombre para cambiarle el color a las fichas ganadoras */

.circulo--final {
  width: calc(7.5rem * cos(45deg)); 
  height: calc(7.5rem * cos(45deg));
  border: .8rem solid var(--color-azul);
  border-radius: 100%;
}

.cruz--final {
  width: 7.5rem;
  height: 0;
  position: absolute;
  border: .4rem solid var(--color-azul);
  background: var(--color-azul);
  rotate: 45deg;
  border-radius: .4rem;
}

.cruz--final:after {
  content: "";
  position: absolute;
  width: 7.5rem;
  height: 0;
  border: .4rem solid var(--color-azul);
  background: var(--color-azul);
  border-radius: .4rem;
  rotate: 90deg;
  translate: -4.125rem -0.38rem;
}

#resultado, #opciones {
  text-align: center;
}

#opciones {
  visibility: hidden;
}