html {
  box-sizing: border-box;
  background: #242424;
}

header {
  text-align: center;
}

main {

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  max-width: 300px;
  margin: 50px auto;
}

.casilla {
  display: flex;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

#cas00, #cas01, #cas02 {
  border-top: 0;
}

#cas00, #cas10, #cas20 {
  border-left: 0;
}

#cas02, #cas12, #cas22 {
  border-right: 0;
}

#cas20, #cas21, #cas22 {
  border-bottom: 0;
}

.circulo {
  /*
    Un poco frikada... Para que la cruz y el círculo sean igual de altos y anchos
    he calculado las dimensiones del círculo basándome en la longitud del aspa de
    la cruz, que al proyectarse sobre la verticual (hipotenusa), sería más corta.
    En resumen, tirando de fórmula, se calcula mediante el coseno del ángulo (45º)
    por la hipotenusa (longitud del aspa).

    https://www.disfrutalasmatematicas.com/seno-coseno-tangente.html
  */
  width: calc(75px * cos(45deg)); 
  height: calc(75px * cos(45deg));
  border: 8px solid black;
  border-radius: 100%;
}

.cruz {
  width: 75px;
  height: 0;
  position: absolute;
  border: 4px solid black;
  background: black; /* Sin el background se ve una rayita en Firefox */
  rotate: 45deg;
  border-radius: 4px;
}

.cruz:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 0;
  border: 4px solid black;
  background: black;
  border-radius: 4px;
  rotate: 90deg;
  translate: -4px -4px;
}

/* Javascript no puede seleccionar seudoelementos, por lo que tengo que duplicar
las clases con otro nombre para cambiarle el color a las fichas ganadoras */

.circuloverde {
  width: calc(75px * cos(45deg)); 
  height: calc(75px * cos(45deg));
  border: 8px solid green;
  border-radius: 100%;
}

.cruzverde {
  width: 75px;
  height: 0;
  position: absolute;
  border: 4px solid green;
  background: green;
  rotate: 45deg;
  border-radius: 4px;
}

.cruzverde:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 0;
  border: 4px solid green;
  background: green;
  border-radius: 4px;
  rotate: 90deg;
  translate: -4px -4px;
}

#resultado, #opciones {
  text-align: center;
}

#opciones {
  visibility: hidden;
}